$shade-0: hsla(215, 49%, 2%, 1);
$shade-1: hsla(215, 49%, 12%, 1);
$shade-2: hsla(220, 45%, 30%, 1);
$shade-3: hsla(220, 45%, 50%, 1);
$shade-4: hsla(220, 45%, 60%, 1);
$shade-5: hsla(220, 45%, 78%, 1);
$shade-6: hsla(220, 60%, 98%, 1);
$shade-7: hsla(0, 0%, 100%, 1);
$alert-1: hsla(219, 100%, 58%, 1);
$alert-2: hsla(220, 51%, 66%, 1);