@import 'colors';
#projects{
    margin: 10px;
    padding: 10px;
    flex: 1;
    background: linear-gradient(133.39deg, #3DFE0D 1.03%, rgba(194, 253, 24, 0.982611) 1.04%, rgba(5, 245, 217, 0.69) 114.72%);
    border-radius: 20px;
    min-height: 30vh;
    color: $on-section-color;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    .p-table{
        min-width: 70%;
        .projects-table{
            text-align: left;
            width: 100%;
        }
    }
    @media only screen and (max-width: 700px){
        margin: 0;
        margin-top: 20px;
        padding: 15px;
    }
}
#languages{
    margin: 10px;
    padding: 10px;
    flex: 1;
    background: linear-gradient(211.19deg, #CCFF00 0%, rgba(255, 122, 0, 0.69) 128.43%);
    border-radius: 20px;
    color: $on-section-color;
    min-height: 30vh;
    
    ul{
        padding-left: 10%;
        list-style: none;
        li{
            text-align: left;
        }
    }
    @media only screen and (max-width: 700px){
        margin: 0;
        margin-top: 20px;
        padding: 15px;
    }
}
#contact{
    background: #FF5959;
    padding: 15px;
    border-radius: 20px;
    font-size: 22px;
    min-height: 30vh;
    margin-bottom: 20px;
    h1{
        color: $on-section-color;
    }
    color: #2c2c2c;
    font-weight: 600;
    
    input{
        min-height: 26px;
        margin-left: 15px;
        border: none;
        max-width: 60vw;
        padding: 10px;
        font-size: 22px;
        border-radius: 5px;
        background-color: rgba(#F0F0F0,0.5);
        outline: none;
    }
    textarea{
        width: 50%;
        min-height: 100px;
        margin-left: 15px;
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-size: 20px;
        background-color: rgba(#F0F0F0,0.5);
        outline: none;
    }
    #submit-btn {
        margin-top: 20px;
        border: none;
        outline: none;
        font-size: 28px;
        padding: 20px 30px 20px 30px;
        border-radius: 100px;
        cursor: pointer;
    }
}