@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;700&family=Ubuntu&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #0F0F0F;
  color: #F2EEFF;
}

main {
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 20px;
  text-align: center;
}

nav {
  width: 100vw;
  padding: 10px;
  padding-top: 20px;
  background-color: #373737;
}

nav ul {
  margin-right: 10vw;
  margin-left: 10vw;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  nav ul {
    margin-right: 5vw;
    margin-left: 5vw;
  }
}

nav ul li {
  color: #F2EEFF;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  font-family: "Fira Sans";
  padding: 5px;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.logo a img {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 700px) {
  .logo a img {
    height: 40px;
    width: 40px;
  }
}

.logo a:hover {
  background-color: inherit;
}

@media only screen and (max-width: 700px) {
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.menu {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  background-color: inherit;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.menu img {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 700px) {
  .menu img {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 700px) {
  .link {
    display: none;
  }
}

header {
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#59FFAF), to(rgba(89, 225, 255, 0.69)));
  background: linear-gradient(180deg, #59FFAF 0%, rgba(89, 225, 255, 0.69) 100%);
  color: #17093E;
  min-height: 40vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header article {
  min-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding-top: 20px;
}

header article h1 {
  font-size: 32px;
  font-family: "Fira Sans";
}

header article h2 {
  font-size: 22px;
  opacity: 0.7;
}

@media only screen and (max-width: 700px) {
  header article {
    padding: 0px;
  }
  header article h1 {
    font-size: 28px;
  }
}

#Hat {
  -webkit-animation: hatr 0.6s ease-in-out infinite;
          animation: hatr 0.6s ease-in-out infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes hatr {
  from {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  to {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

@keyframes hatr {
  from {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  to {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

.animation svg {
  width: 280px;
}

@media only screen and (max-width: 700px) {
  .animation svg {
    width: 60vw;
    height: auto;
  }
}

#projects {
  margin: 10px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: linear-gradient(133.39deg, #3DFE0D 1.03%, rgba(194, 253, 24, 0.982611) 1.04%, rgba(5, 245, 217, 0.69) 114.72%);
  border-radius: 20px;
  min-height: 30vh;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .p-table {
  min-width: 70%;
}

#projects .p-table .projects-table {
  text-align: left;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #projects {
    margin: 0;
    margin-top: 20px;
    padding: 15px;
  }
}

#languages {
  margin: 10px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: linear-gradient(211.19deg, #CCFF00 0%, rgba(255, 122, 0, 0.69) 128.43%);
  border-radius: 20px;
  color: #000000;
  min-height: 30vh;
}

#languages ul {
  padding-left: 10%;
  list-style: none;
}

#languages ul li {
  text-align: left;
}

@media only screen and (max-width: 700px) {
  #languages {
    margin: 0;
    margin-top: 20px;
    padding: 15px;
  }
}

.section-holder {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
  .section-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer {
  padding-top: 10px;
  margin: auto;
  text-align: center;
  min-height: 10vh;
  vertical-align: baseline;
  background-color: #373737;
}
/*# sourceMappingURL=index.css.map */