@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway";
}

html {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: #101c2e;
  color: white;
}

h1, h2, h3, h4, p {
  color: inherit;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

#small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #101c2e;
  margin: 0;
  gap: 2em;
}

#small li {
  padding: 0.5em 1em;
  border-radius: 10px;
}

#small li a {
  opacity: 1;
  margin: auto;
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  #small {
    display: none;
  }
}

#small.inactive {
  display: none;
}

nav {
  position: fixed;
  left: 0;
  z-index: 1;
  top: 0;
  margin: 10px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  gap: 2.5em;
}

nav a {
  text-decoration: none;
  color: #aebee0;
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  #large {
    display: none;
  }
}

header {
  height: 100vh;
  width: 100%;
  background: url("../Assets/header_bg.png");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  header {
    background-position: top right -150px;
  }
}

header section {
  margin: 0px 100px;
  position: relative;
  top: 4rem;
  color: white;
}

@media screen and (max-width: 600px) {
  header section {
    margin: 0px 10px;
  }
}

header section #projects-holder {
  padding: 0.8rem 1em;
  max-width: 600px;
  min-height: 400px;
}

header section #projects-holder .swiper-pagination {
  position: relative !important;
}

header section #projects-holder .swiper-container {
  margin-top: 5em;
  height: 100%;
  width: 100%;
  background-color: #030508;
  padding: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;
}

header section #projects-holder .swiper-container .swiper-wrapper .swiper-slide {
  text-align: left;
  padding: 10px 2.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header section #projects-holder .swiper-container .swiper-wrapper .swiper-slide a {
  margin: 0px auto;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  padding: 0.5em 1em;
  background-color: #2974ff;
  border-radius: 100px;
}

#menu-btn {
  position: fixed;
  margin: 15px 10px;
  right: 0;
  top: 0;
  height: 2rem;
  z-index: 9999;
  width: 2rem;
  outline: none;
  border: none;
  background: none;
}

#menu-btn img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  #menu-btn {
    display: none;
  }
}
/*# sourceMappingURL=repos.css.map */